@import "tailwindcss";

@theme {
    --color-primary: oklch(0.576 0.139 281.5);
    --color-dark: oklch(0.118 0.03 282);
    --color-light: oklch(0.824 0.061 287);
    --color-gray: oklch(0.824 0.061 287);
    --color-card-primary: oklch(0.236 0.045 282.5);
    --color-card-secondary: oklch(0.118 0.03 282);
}

.theme-sellspot {
    --color-primary: oklch(0.5754 0.1705 282.36);
    --color-dark: oklch(0.09 0.0577 272.51);
    --color-light: oklch(0.9294 0.0202 286);
    --color-gray: oklch(0.3713 0.0272 287.86);
    --color-card-primary: oklch(0.2647 0.0297 287.05);
    --color-card-secondary: oklch(0.09 0.0577 272.51);
}

.theme-videfly {
    --color-primary: oklch(0.5253 0.2392 289.53);
    --color-dark: oklch(0.09 0.0577 272.51);
    --color-light: oklch(1 0 0);
    --color-gray: #111336;
    --color-card-primary: oklch(0.5253 0.2392 289.53);
    --color-card-secondary: #3F2181;
}
